body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(98, 23, 169);
}
